<div class="jumbotron">

  <h1>My First Page</h1>

  <p>	This is my First Ruby page.</p>
  <p>  Welcome to my app.</p>
  <p>	Sign up  <%= link_to "here", "#", class: "btn btn-primary" %>.</p>
</div>

